.list__title {
  font-size: 18px;
  color: rgb(94, 28, 216);
  text-align: center;
  @media screen and (min-width: 320px) {
    font-size: 36px;
  }
}

.film_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

.film_list a {
  /* border: 2px solid tomato; */
}

.list__item_title {
  display: block;
  margin:0 0 20px 0;
}

.list__item {
  list-style: none;
  font-size: 22px;
  font-weight: 600;
  text-decoration: underline;
  color: rgb(170, 163, 163);
  width: 280px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 250ms;
}

.list__item:hover {
  transform: scale(1.05);
  color: rgb(13, 163, 53);
}
