.details {
  margin-top: 50px;
  display: flex;
  gap: 40px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  padding: 10px;
}

.details__info {
  padding: 20px;
  /* border: 1px solid tomato; */
}

.details__title {
  margin: 0;
  font-size: 34px;
}

.more__title, h2 {
  font-size: 28px;
  color: rgb(72, 73, 72);
}

.more {
  list-style: none;
}

.more__info {
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
  color: rgb(72, 73, 72);
  transition: all 250ms;
  margin-bottom: 20px;
}

.more__info:hover {
  transform: scale(1.01);
  color: rgb(15, 13, 163);
}

.back {
  font-size: 18px;
  font-weight: 600;
  color:red;
  margin: 20px 0 0 20px;
  display: block;
  text-decoration: none;
}
