.input {
  margin-top: 20px;
  margin-left: auto;
  width: 300px;
  font-size: 18px;
padding: 7px;
}

.search__btn {
  font-size: 18px;
  padding: 7px;
  background-color: rgba(68, 152, 230, 0.779);
}

.list__item {
  list-style: none;
  font-size: 19px;
  font-weight: 600;
  color: rgb(72, 73, 72);
  margin-bottom: 7px;
  text-decoration: underline;
  transition: all 250ms;
}

.list__item:hover {
  transform: scale(1.01);
  color: rgb(15, 13, 163);
}